<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Data</title>
</head>
<body>
    <h1>CSV Data</h1>
    <table border="1">

        <span id="Contador">0</span>
        <thead>
            <tr>
                <% if (data.length > 0) { %>
                    <% Object.keys(data[0]).forEach(key => { %>
                        <th><%= key %></th>
                    <% }); %>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((row,indice)=> { %>
                <tr>
                    <td><%=indice%></td>
                    <% Object.values(row).forEach(value => { %>
                        <td><%= value %></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/">Upload another CSV</a>
    
</body>
</html>

